{% extends '@site/layouts/front_footer.html.twig' %}
{% block quote %}
<div class="row-fluid">
    <div class="span12">
        <blockquote>
            <p class="testimonial">Working with Agency has been a refreshing experience. They listened to our needs and came up with a great solution.</p>
            <p class="name">Sarfraz Shoukat, <b>Owner - Greepit.com</b></p>
        </blockquote>
    </div>
</div>
{% endblock %}
