<div class="jumbotron masthead">
    <div class="splash" style="display: block; opacity: 1;"> <img src="assets/img/home-banner-bg.jpg" alt="Banner"> </div>
    <div class="splash" style="display: none; opacity: 0;"> <img src="assets/img/home-banner-bg2.jpg" alt="Banner"> </div>
    <div class="splash" style="display: none; opacity: 0;"> <img src="assets/img/home-banner-bg3.jpg" alt="Banner"> </div>
    {% include '@site/layouts/front_navbar.html.twig' with {'logo': 'Logo.png'}  %}
    <div class="container show-case-item">
        <h1>ENGAGE &amp; INNOVATE, OR DIE<br>
            (555) 111-0000</h1>
        <p>Gone are the days of building simple websites. Clients are demanding more functionality and better results from their websites and we create unforgettable brand experiences. Our passion is helping design and build solutions that strike the perfect balance between users, business, and technology.</p>
        <a href="work.html" class="bigbtn">View Our Work</a>
        <div class="clearfix"> </div>
    </div>
    <div class="container show-case-item">
        <h1>SIMPLICITY IS A GOOD THING<br>
            ADOPT!</h1>
        <p>Gone are the days of building simple websites. Clients are demanding more functionality and better results from their websites and we create unforgettable brand experiences. Our passion is helping design and build solutions that strike the perfect balance between users, business, and technology.</p>
        <a href="work.html" class="bigbtn">View Our Work</a>
        <div class="clearfix"> </div>
    </div>
    <div class="container show-case-item">
        <h1>PLAN, BUILD, LAUNCH<br>
            &amp; GROW!</h1>
        <p>Gone are the days of building simple websites. Clients are demanding more functionality and better results from their websites and we create unforgettable brand experiences. Our passion is helping design and build solutions that strike the perfect balance between users, business, and technology.</p>
        <a href="work.html" class="bigbtn">View Our Work</a>
        <div class="clearfix"> </div>
    </div>
    <div id="banner-pagination">
        <ul>
            <li><a href="#" class="active" rel="0"> <img src="assets/img/slidedot-active.png" alt=""></a></li>
            <li><a href="#" rel="1"> <img src="assets/img/slidedot.png" alt=""></a></li>
            <li><a href="#" rel="2"> <img src="assets/img/slidedot.png" alt=""></a></li>
        </ul>
    </div>
</div>